.timeline-container {
  min-width: 1000px;
}
.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
  margin-bottom: 50px;
}

.timeline .timelineItem,
.timelineTransport {
  position: relative;
}

.timeline .timelineItem:after,
.timelineTransport:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timelineItem:after,
.timelineTransport:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.timeline .timelineItem {
  flex-direction: row;
}

.page {
  z-index: -1;
}

.timeline .btn-delete {
  margin: auto;
}

.timeline .timelineTransport {
  margin: 30px 0px;
}
.edit-form,
.add-form {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  transition: 1s;
}

.form-group {
  margin: 10px;
}

#btnAdd {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background-color: #ff8005;
  border: none;
  font-size: 30px;
}
.foreIcon {
  margin-right: 10px;
}
.activityImg {
  border-radius: 5px;
  max-width: 100%;
}
.btnMore {
  margin: 0;
  float: right;
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 5px;
  padding-top: 0;
}
.daysBox {
  position: fixed;
  overflow-y: visible;
  height: auto;
}
.detailsGroupDate {
  font-weight: bold;
  font-size: large;
  margin-bottom: 50px;
}
.modal .display-block {
  display: block;
}
.topLeft {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: red;
}
.popover {
  text-align: center;
}
.popoverIcon {
  margin: auto;
  font-size: 18px;
  color: red;
}
.timeText {
  margin-top: 15px;
}
.ttip {
  display: none;
}
.scrollspyExample {
  position: relative;
  height: 200px;
  overflow: auto;
}
.formField{
  margin-top: 10px;
}
.customBtn{
  font-size: 13px !important;
  text-transform: none !important;
  width: 100%;
  max-height: 100%;
  border: solid 1px #267A9C !important;
  border-radius: 10px;
  color: #267A9C !important;
  background-color: #fff !important;
  font-weight: 500 !important;
}
.submitBtn{
  border: solid 1px #34a9d9 !important;
  background-color: #34a9d9 !important;
  color: #fff !important;
}
.submitBtn:hover{
  color: #fff !important;
  background-color: #267A9C !important;
  border-color: #267A9C !important;
}
.customBtn:hover{
  color: #fff !important;
  background-color: #267A9C !important;
}
.editForm{
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px !important;
}
.timeGroupDiv{
  padding: 0 !important;
  /* padding-top: 30px ; */
}
.timeGroupDiv label{
  font-size: large;
}
.timeGroupDiv select{
  margin-top: 5px;
}
.timeGroupDiv input{
  margin-top: 5px;
}
.closeBtn{
  float: right;
}
.activityInfo{
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 30px;
  max-height: 600px;
  overflow: auto;
}
.poiImage{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 15px;
}
.poiDiv{
  float: left;
}
.poiDescription{
  text-align: justify;
  font-size: 16px;
  margin-top: 5px;
}
.ratingNum{
  position: relative;
  bottom: 0px;
  margin-left: 10px;
  font-size: 12px;
}
.detailLink{
  color: #267A9C;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}
.linkDiv{
  text-align: right;
}
.detailLink:hover{
  color: #267A9C;
  text-decoration: underline;
}
.modalBody{
  margin: 40px;
}
.customLabel{
  margin-bottom: 15px;
  display: block;
}