.img {
  width: auto;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
}

.card {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.addCol {
  font-size: 1.5em;
  color: palevioletred;
  text-decoration: none;
}

.addCol:hover {
  color: red;
}
