.poiLargeBox {
  margin-top: 2vh !important;
  width: 100% !important;
}
.poiThumb {
  border-radius: 10px !important;
  width: 100% !important;
  height: 20vh !important;
  object-fit: cover !important;
}
.poiThumbBox {
  width: 30% !important;
  align-content: center !important;
  text-align: center !important;
}
.poiPrice {
  color: rgb(0, 0, 0) !important;
  font-style: italic !important;
}
.poiName{
  color: black;
  text-decoration: none;
}
.poiName:hover{
  color: black;
  text-decoration: underline;
}