.searchBarGroup {
  border-radius: 15%;
  height: 6vh;
  position: absolute;
}

.icon {
  margin-right: 1em;
}

.searchBar {
  width: 100%;
}

.container {
  position: relative;
}

.link {
  text-decoration: none;
}
