.searchBarGroup {
    /*margin-top: 15px;
    margin-left: 20px;
    height: 6vh;*/
    border-radius: 15%;
    width: 50em;
}

.icon {
    margin-right: 50px;
}

.searchBar {
    width: 25em;
}

.container {
    position: relative;
}
