.item {
    list-style-type: none;
    width: 20em;
    margin-left: 20px;
    height: 6vh;
    border-radius: 0 !important;
    color: black;
    z-index: 1000;
}

.list {
    position: absolute;
    z-index: 1000;
    top: 100%;
    width: 100%;
}

.item {
    cursor: pointer;
    width: 100%;
}

.active {
    background-color: grey;
}

.icon {
    display: inline-block;
    width: 20px;
}

.link {
    text-decoration: none;
}
