.headContainer {
  width: 100vw !important;
  height: 60vh !important;
  padding: 0 !important;
  margin: auto !important;
  text-align: center !important;
}
.mainContainer {
  padding: 0 !important;
  margin: 0 !important;
}
.thumbnail {
  position: absolute !important;
  width: 100vw !important;
  height: 60vh !important;
  object-fit: cover !important;
  z-index: -1 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.title {
  margin-top: 15vh !important;
  position: absolute !important;
  width: 100% !important;
  color: rgb(255, 255, 104) !important;
  font-size: 6vw !important;
}
.bodyContainer {
  margin: auto !important;
  margin-top: 5vh !important;
  width: 60vw !important;
}
.catButton {
  margin: 3px !important;
  background-color: rgb(255, 128, 215) !important;
}
.catButton:hover {
  background-color: rgb(253, 88, 201) !important;
}
.removeFilterButton {
  margin: 3px !important;
  background-color: rgb(255, 43, 117) !important;
}
.removeFilterButton:hover {
  background-color: rgb(254, 18, 101) !important;
}
