.headContainer {
  width: 100vw !important;
  height: 60vh !important;
  padding: 0 !important;
  margin: auto !important;
  text-align: center !important;
}
.mainContainer {
  padding: 0 !important;
  margin: 0 !important;
}
.thumbnail {
  position: absolute !important;
  width: 100vw !important;
  height: 60vh !important;
  object-fit: cover !important;
  z-index: -1 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.title {
  margin-top: 15vh !important;
  position: absolute !important;
  width: 100% !important;
  color: rgb(255, 255, 104) !important;
  font-size: 6vw !important;
}
.bodyContainer {
  margin: auto !important;
  margin-top: 5vh !important;
  width: 80vw !important;
}
.catButton {
  margin: 3px !important;
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}
.catButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
.catButtonSelected{
  margin: 3px !important;
  color: rgb(0, 0, 0) !important;
  text-decoration: underline;
}
.removeFilterButton {
  cursor: pointer;
  margin: 3px !important;
  color: rgb(0, 0, 0) !important;
}
.filterBox{
  width: 20vw;
}
.filterRatingButton{
  vertical-align: middle;
  padding-top: 5px;
}