.text {
  font-size: 1.5em;
  font-weight: bold;
}

.container {
  max-width: 1200px;
}

.addCol {
  font-size: 1.5em;
  color: palevioletred;
  text-decoration: none;
}

.addCol:hover {
  color: red;
}
