.text {
  font-size: 1.5em;
  font-weight: bold;
}

.container {
  max-width: 1200px;
}

.addCol {
  font-size: 1.5em;
  color: palevioletred;
  text-decoration: none;
}

.addCol:hover {
  color: red;
}

.requestLink{
  color: rgb(50, 217, 255);
  text-decoration: none;
}

.requestLink:hover{
  color: rgb(0, 183, 255);
}
