.bodyContainer {
  width: 100vw;
  margin: 0;
  padding: 0;
}
.mainContainer {
  margin-bottom: 10vh;
  width: 70vw;
}
.thumbnail {
  height: 70vh;
  width: 100vw;
  object-fit: cover;
}
.mainCard {
  width: 70vw;
  border-radius: 0;
  border-style: none;
}
.mainCardBody {
  margin: 5vh 5vw;
}
.avatar {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}
.authorBox {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5vh;
}
.contentContainer {
  margin-left: 0;
  margin-right: 0;
  margin-top: 5vh;
  padding: 0;
  text-align: center;
}
.errorContainer {
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 10vh;
  width: 70vw;
}
.returnBlogBtn {
  color: rgb(146, 146, 146);
  text-decoration: none;
  font-size: 20px;
}
.returnBlogBtn:hover {
  color: rgb(40, 40, 40);
}
.contentContainer img {
  width: 50%;
  height: 40%;
  object-fit: cover;
  padding: auto;
  margin-bottom: 20px;
}
.contentContainer p {
  text-align: justify;
}
/* .contentContainer span{
  text-align: center;
  font-style: italic;
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: -5px;
} */
.navContainer {
  margin-top: 30px;
  border-radius: 0;
  width: 70vw;
  border-style: none;
}
.lastBlogBox {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextBlogBox {
  width: 30vw;
  display: flex;
  align-items: right;
  justify-content: right;
  text-align: right;
}
.nearbyTitle {
  display: inline;
  margin-bottom: 30px;
}
.nearbyBlogBtn {
  color: rgb(127, 127, 127);
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin: auto;
}
.nearbyBlogBtn:hover {
  cursor: pointer;
  color: rgb(44, 44, 44);
}
.arrowIcons {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
  width: 20px;
  height: 20px;
}
.arrowIconsBox {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw !important;
}
.dateBox {
  font-size: 15px;
  color: rgb(95, 95, 95);
  margin-left: 10px;
}
.date {
  margin-left: 10px;
  margin-right: 20px;
}
h1 {
  margin: 0;
  padding: 0;
}
