.calendarDiv{
    min-width: 900px;
    margin-bottom: 100px;
}
.fcEvent{
    height: 100%;
    /* position: relative; */
    padding-left: 10px;
    border-left: 3px solid rgb(16, 165, 99);
    background-color: #eefff7d9;
    box-shadow: 0 0 5px #999;
    padding-top: 5px;
    overflow-y: hidden;
}
.dropdown{
    position: absolute;
    right: 0;
    top: 5px;
}
.dropdownMenu{
display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown:hover .dropdownMenu {
    display: block;
  }
  .dropdownMenu a:hover {
    background-color: #f1f1f1;
    font-weight: 500;
  }
  .dropdownMenu a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  .moreBtn{
    background-color:transparent;
    border: none;
  }
  .btnAdd {
    text-decoration: none;
    background: #97c83e;
    text-align: center;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    cursor: pointer;
  }
  .btnAdd:hover{
    color: wheat;
  }
  .addIcon {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }
  .eventTitle{
    font-size: 14px;
    font-weight: 500;
    padding-right: 7px;
  }
  .duration{
    color: #3ec843;
    font-size: 13px;
    overflow: hidden;
  }
  .startEndTime{
    font-size: 12px;
  }

  .daysBox {
    position: fixed;
    overflow-y: visible;
    height: auto;
    /* text-align: right; */
  }
.month{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    color: #0e0e0f;
}
.date{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    color: #0e0e0f;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
.date:hover{
    color: #0e0e0f;
    text-decoration: none;
    text-decoration: underline;
}