.expandBtn{
  min-width: 50px;
  min-height: 40px;
  max-height: 40px;
  margin: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
}
.sidebarIcon{
  text-align: center;
}
.sidebarText{
  text-align: left;
}
.sidebarMenu{
  padding: 10px;
}
.profileIcon{
  text-align: center;
  width: 100%;
  margin-top: 1vh;
  display:flex;
  justify-content: center;
}
.contentContainer{
  padding: 0;
  margin: 0;
  margin-top: 15vh;
}
.userAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}
.username{
  margin-right: 5px;
}
.sidebar{
  background-color: rgb(240, 240, 240);
}
.sidebarItem{
  color: black;
  text-decoration: none;
}