.card {
  margin-bottom: 5px;
}
.cropped {
  width: 200px !important;
  height: 150px !important;
  overflow: hidden !important;
  margin: 10px !important;
}

.cropped img {
  width: 200px !important;
  height: 150px !important;
  object-fit: cover !important;
}

.lastUpdated {
  position: absolute;
  bottom: 2vh;
  color: rgb(175, 175, 175);
}

.deleteButton {
  color: rgb(50, 50, 50);
  background-color: transparent;
  border: 0;
}

.deleteButton :hover {
  color: rgb(104, 104, 104);
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgb(52, 52, 52);
}
