.navBar {
  z-index: 1000;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.name {
  padding: 0 !important;
}
.logo {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.loginBtn {
  border: solid 1px #34a9d9 !important;
  background-color: #34a9d9 !important;
  color: rgba(255, 255, 255, 0.815) !important;
  font-weight: 500 !important;
}
.loginBtn:hover {
  color: #042735 !important;
}
