.poiLargeBox {
  margin-top: 2vh !important;
  width: 100% !important;
}
.poiThumb {
  border-radius: 10px !important;
  width: 100% !important;
  height: 20vh !important;
  object-fit: cover !important;
}
.poiThumbBox {
  width: 30% !important;
  align-content: center !important;
  text-align: center !important;
}
.exploreBtn {
  border-radius: 50px !important;
  background-color: rgb(255, 123, 196) !important;
}
.exploreBtn:hover {
  background-color: rgb(255, 86, 179) !important;
}
.exploreBtn:active {
  background-color: rgb(255, 76, 174) !important;
}
.poiPrice {
  color: rgb(223, 61, 172) !important;
  font-style: italic !important;
}
