.boxImg {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.poiBox {
  width: 30% !important;
  display: inline-block !important;
  margin: auto !important;
  padding: 0px !important;
  text-decoration: none;
}
.catText {
  color: grey !important;
  text-decoration: none;
}
.boxName{
  color: black;
  text-decoration: none;
}
.boxName:hover{
  color: black;
  text-decoration: underline;
}
.poiBoxLink{
  text-decoration: none;

}