.closeBtn{
    float: right;
}
.deleteBody{
    display: block;
    margin: 1em;
    margin-top: 2em;
    text-align: center;
    font-size: 1.2em;
}
.centerBtnGroup{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}
.centerBtnGroup button{
    margin: 0 1em;
}
.submitBtn{
    border: solid 1px #34a9d9 !important;
    background-color: #34a9d9 !important;
    color: #fff !important;
}
.submitBtn:hover{
    color: #fff !important;
    background-color: #267A9C !important;
    border-color: #267A9C !important;
}
.modalBody{
    display: block;
    margin: 1em;
    margin-top: 1em;
    /* text-align: center; */
}
.modalTitle{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.inputContent{
    margin-top: 1em;
}
.inputNote{
    margin-top: 0.5em;
}
.uncheckedBtn{
    border: solid 1px #34a9d9 !important;
    background-color: #ffffff !important;
    color: #34a9d9 !important;
}
.uncheckedBtn:hover{
    color: #fff !important;
    background-color: #267A9C !important;
    border-color: #267A9C !important;
}
.warningMessage{
    color: red;
    font-size: small;
    height: auto;
    margin-left: 1em;
  }
  .warningMessage.hide{
    visibility: hidden;
  }