.star {
  height: fit-content;
}

.cardBody {
  padding-top: 0;
}

.item {
  border-radius: 0;
  background-color: inherit !important;
  border: none;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  height: 140px;
  width: 100%;
}

.type:first-letter {
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: black;
}

.hotelBtnGroup {
  margin: 0;
  float: right;
}
.hotelBtn {
  width: auto;
  min-width: 5em;
  margin-bottom: 0.5em;
  right: 1em;
  background-color: #fff;
  border: #0e0e0f solid 1px;
  border-radius: 2px;
  padding: auto;
  margin-left: 0.5em;
}
.hotelChangeBtn:hover {
  background-color: #0e0e0f;
  color: white;
}
.hotelBookBtn {
  color: #fff;
  border-color: #267a9c;
  background-color: #267a9c;
}
.hotelBookBtn:hover {
  color: #fff;
  border-color: #34a9d9;
  background-color: #34a9d9;
}
