.item {
  border-radius: 0;
  background-color: inherit !important;
  border: none;
}

.image {
  height: 170px;
  width: 100%;
}

.type:first-letter {
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: black;
}
