.pagination {
  justify-content: center;
  gap: 5px;
}

.page {
  border-radius: 50%;
}

.next {
  border: none;
}
.pageTitle{
  font-size: 33px;
  text-align: center;
  margin: 1em;
  margin-top: 0.5em;
  font-family: Klarna Display,Helvetica Neue,Arial,Helvetica,sans-serif;
  font-weight: 700;
  color: #0e0e0f;
}